.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.slide {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100vh;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black	;
}

.carousel-indicators .active{
  background-color: white;
}

.carousel-indicators {
  position: absolute;
  right: 46%;
}

.carousel-caption {
  position: absolute;
  font-family: 'Darker Grotesque', sans-serif;
  right: 60%;
  top: 20%;
}

.name {
  font-size: 300%;
  white-space: nowrap;
}

.home {
  font-size: 300%;
  /* white-space: nowrap; */
}

.button2 {
  /* position: relative; */
  /* top: 200px; */
}